<div class="jumbotron special">
  <div class="honoka"></div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 outline">
        <h1>Inspect FM</h1>
          <p>1. the list of Database name in FileMaker Server is shown</p>
          <p>2. the list of Layout name in Database is shown</p>
          <p>3. the list of Field name in Layout is shown</p>
        <div class="download">
          <a href="" class="btn btn-warning btn-lg last-release-download-link"><i class="fa fa-github-alt"></i>you can press this</a>
          <a href="" class="btn btn-primary btn-lg"><i class="fa fa-play"></i>but nothing occurs</a>
        </div>
      </div>
    </div>

  </div>
</div>

<section class="section section-default point">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-7 col-sm-6">
        <h3>how to use</h3>
        <h4>₍ (ง ˙ω˙)ว ⁾⁾ 1. press 「Inspect」→「Start」</h4>
        <h4>₍ (ง ˙ω˙)ว ⁾⁾ 2. continue to click link</h4>
        <h4>₍ (ง ˙ω˙)ว ⁾⁾ 3. the result is shown</h4>
        <h4>₍ (ง ˙ω˙)ว ⁾⁾ note: slow to be shown because of FileMaker Server's spec</h4>
      </div>
    </div>
  </div>
</section>
